
/* hoja de estilos generales */    


/* ! BASE STYLE ================== */

body {
	font: normal 0.75em/0.75em 'PT Sans', Tahoma, sans-serif;
	text-align: center;
	color: #e1ffd5;
	background-color:#22703f;
	background: #898989 url(../images/body_BG.png) repeat-x top;
}

a {
	color: #99BF0F;
	text-decoration: none;
	border:none;
}

a:hover {
	color: #5893cc;
	text-decoration: none;
}

p {
	margin: 0;
	padding: 1.1em 0;
	font-style: normal;
	font-size: 1em;
	line-height: 1.1em;
}

p strong { color:#333333; }

::-moz-selection
{
background:#8a8a8a;
color:#fff !important;
}
 
::selection 
{
background:#8a8a8a;
color:#fff !important;;
}

/* ! HEADINGS ================== */

h1, h2, h3, h4, h5, h6 {
	display:block;
	font-family:'PT Sans'; 
	font-weight:700;
	color:#333;
}

h2 { font-size:2em; line-height:1.7em; }

h3 { font-size:1.8em; line-height:1.4em; }

h4 { font-size:1.6em; line-height:1.3em; }

h5 { font-size:1.4em; line-height:1.2em; }

h6 { font-size:1.2em; line-height:1.1em; }


/* ! CONTENEDOR ================== */



/* ! Header ================== */

header { width:100%; height:134px; padding:200px 0 2px; background:url(../images/header_border.png) no-repeat bottom center; text-align: center; }

hgroup { width:290px; height:115px; background:url(../images/deloitte_cde_logo.png) no-repeat; display:block; margin:0 auto; }
hgroup h1, hgroup h2 { display: none; }

section { margin:25px auto; width:980px; text-align:center; }
section h3 { font:400 italic 2em/2em 'PT Sans'; } 
