
/* A todas las mujeres les gusta el caramelo! */    


/* ! BASE STYLE ================== */

body {
	font: normal 0.75em/0.75em 'PT Sans', Tahoma, sans-serif;
	text-align: left;
	color: #444444;
	background: #FFF url(../images/body_BG.jpg) repeat-x top;
}

a {
	color: #2c4d8c;
	text-decoration: none;
	border:none;
}

a:hover {
	color: #92d400;
	text-decoration: none;
}

p {
	margin: 0;
	padding: 1.1em 0;
	font-style: normal;
	font-size: 1.167em;
	line-height: 1.2em;
}

p strong { color:#333333; }

::-moz-selection
{
background:#8a8a8a;
color:#fff !important;
}
 
::selection 
{
background:#8a8a8a;
color:#fff !important;;
}

/* ! HEADINGS ================== */

h1, h2, h3, h4, h5, h6 {
	display:block;
	font-family:'PT Sans'; 
	font-weight:700;
	color:#333;
}

h2 { font-size:2em; line-height:1.7em; }
h3 { font-size:1.8em; line-height:1.4em; }
h4 { font-size:1.6em; line-height:1.3em; }
h5 { font-size:1.4em; line-height:1.2em; }
h6 { font-size:1.2em; line-height:1.1em; }


/* ! CONTENEDOR ================== */

.center { width:980px; margin:0 auto; overflow:hidden; }


/* ! HEADER ================== */

header { 
	width:980px; 
	margin:0 auto; 
	height:98px; 
	padding:0; 
	background:url(../images/header_border.png) no-repeat bottom center;
	position:relative;
}

	header > hgroup { float:left; margin:9px 0; }
		header > hgroup a { display:block; }
		header > hgroup h1, hgroup h2 { display: none; }
		
	header > nav {
		position:absolute;
		right:10px;
		bottom:10px;
		height:30px; 
		overflow:hidden; 
	}
		header > nav ul li { 
			float:left; 
			margin:0 5px; 
			height:100%;
		}
			header > nav ul li a { 
				color:#fff; 
				display:block; 
				height:30px; 
				line-height:30px; 
				font-size:1.417em; 
				font-weight:700;
				text-shadow:1px 1px 3px rgba(0, 0, 0, 0.6);
				padding: 0 15px;
				-webkit-border-radius: 15px;
				-moz-border-radius: 15px;
				border-radius: 15px; 				
			}
			
			header > nav ul li a:hover { color:#ddd; background:#203866; }
			header > nav ul li a.active { color:#ddd; background:#203866; }
			
/* ! SEARCH BOX ================== */

.search { width: 215px; float: right; }
	.search input[type="text"] { float: left; width: 170px; }
	.search input[type="submit"] { width: 25px; }

			
/* ! SECCIONES ================== */

section { margin:25px auto; width:980px; }
section h3 {  }


/* ! HOME ================== */

section.cursos { 
	margin:0 auto 25px;
	height:400px;
	background:#333;
	position:relative;
}
	section.cursos .destacados { float:left; width:595px; height:400px; }
		section.cursos .destacados ul { height:400px; }
			section.cursos .destacados ul li { float:left; height:100%; width:595px; display:block; }
				section.cursos .destacados ul li a { display:block; }
					
					section.cursos .destacados ul li img {  }
					section.cursos .destacados ul li .info { 
						width:555px; 
						padding:15px 25px 10px; 
						position:absolute; 
						bottom:0; 
						z-index:1;
						background:#222;
						background:rgba(0, 0, 0, 0.7);
					}	
						section.cursos .destacados ul li a h3 { color:#FFF; }
						section.cursos .destacados ul li a p { color:#DDD; }
						
	section.cursos ul.navigator { position:absolute; height:25px; width:auto; left:25%; bottom:-12px; z-index:9; }
		section.cursos ul.navigator li { float:left; width:25px; height:25px; margin:0 7px; }
			section.cursos ul.navigator li a { 
				display:block; 
				height:100%; 
				background:gray; 
				text-indent:-9999px;
				-webkit-border-radius: 12px;
				-moz-border-radius: 12px;
				border-radius: 12px;
			}
				
				
	section.cursos .proximos { float:right; width:355px; height:370px; padding:15px; position:relative; }
		section.cursos .proximos h2 { color:#FFF; margin:0 20px; }
		section.cursos .proximos form { padding:5px 20px; }
		section.cursos .proximos ul.page { padding:10px; }
			section.cursos .proximos ul.page li { margin:10px; }
				section.cursos .proximos ul.page li h3 { color:#fff; }
				section.cursos .proximos ul.page li p { color:#ddd;  }
				
	section.cursos ul.paginator { position:absolute; height:25px; width:75%; left:25%; bottom:5px; z-index:9; }
		section.cursos ul.paginator li { float:left; margin:5px; }
			section.cursos ul.paginator li a { 
				color:#DDD;
			}
			section.cursos ul.paginator li a:hover { color:#FFF; }
			
/* ! ARTÍCULOS / NOVEDADES / NOTICIAS ================== */

section.bottom { overflow: hidden; position: relative; }

	section.bottom > article { width: 655px; float: left; padding-bottom: 15px; margin-bottom: 15px; border-bottom: 1px solid #d1d1d1; }
		section.bottom > article img { float: left; margin: 0 15px 0 0; }
	
	section.bottom .novedades { width: 655px; float: left; }
		.novedades ul li { width: 210px; float: left; margin-left: 10px; }
		.novedades ul li:first-child { margin: 0; }

			

/* ! INICIAR SESIÓN ================== */

.ingreso {
	width: 275px;
	height: 240px;
	position: absolute;
	z-index: 10;
	top: 0;
	right: 0;
	background: #ebebeb;
}
			


/* ! FOOTER ================== */
 
footer { background:url(../images/footer_BG.png) repeat-x bottom; height:270px; clear: both; overflow: hidden; }

	footer h4,
	footer h5,
	footer h6 { color: #fff; }

	footer a { color: #92d400; }
	footer a:hover { color: #fff; }
	

	
	footer .center { background:url(../images/header_border.png) no-repeat top center; }
	
		footer .info { float:left; width:560px; padding:20px; }
		
		footer .banners { float: right; width:325px; padding:20px; }
			footer .banners li { margin:10px 0; }
				footer .banners li a { display:block; width:325px; height:105px; }
				footer .banners li a img { background:#333; width:325px; height:105px; }