/* PiratesInc!

Hoja de Estilos para Deloitte CDE por PiratesInc.algo
-------------------------------------------------------------------------------*/
@import url("css/reset.css");
@import url("css/general.css");





/* Print styles!
-------------------------------------------------------------------------------*/
@media print {



}


/* Media queries!
-------------------------------------------------------------------------------*/

/* Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
	
		
}

@media all and (orientation: portrait) {
	
}

@media all and (orientation: landscape) {
	
}


/* Fonts!
-------------------------------------------------------------------------------*/

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);
